---
import { MetaGlobal } from '@client/src/components/Meta'
import { Page404 } from '@client/src/components/404';
import Scripts from '../layout/Scripts.astro'
import { config } from '../config'
import '../../src/css/index.css'

---

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <MetaGlobal />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for Lectures London"
      href={`${config.url}/rss.xml`}
    />
    <title>{config.title}</title>
    <meta name="description" content={config.description} />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content={config.twitter} />
    <meta name="twitter:creator" content={config.twitter} />
    <meta property="og:url" content={config.url} />
    <meta property="og:title" content={config.title} />
    <meta property="og:description" content={config.description} />
    <meta property="og:image" content={config.logo} />
    <meta name="keywords" content={[...config.keywords].join(',')} />
  </head>
  <body>
    <Page404 />
    <Scripts />
  </body>
</html>
